[client]

port                           = 3306
socket                         = /var/run/mysqld/mysql.sock

[mysql]

no_auto_rehash
max_allowed_packet             = 16M
prompt                         = '\u@\h [\d]> '
default_character_set          = utf8

[mysqldump]

max_allowed_packet             = 16M

[mysqld]

port                           = 3306
socket                         = /var/run/mysqld/mysql.sock
max_allowed_packet             = 16M
default_storage_engine         = InnoDB

# Query Cache

query_cache_type               = 1                                   # Set to 0 to avoid global QC Mutex
query_cache_size               = 32M                                 # Avoid too big (> 128M) QC because of QC clean-up lock!

sql-mode=""
